* {
  box-sizing: border-box;
}
.landing-page {
  min-height: 100%;
}
.hgroup {
  margin-top: -10%;
  text-align: center;
}
h1,
h3 {
  font-weight: 300;
}
h1 {
  color: #636363;
}
h3 {
  color: #9E9E9E;
  font-style: italic;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
}
footer p {
  color: #888;
  font-size: 13px;
  letter-spacing: .4px;
}
footer img {
  width: 80px;
}
footer img:focus,
footer footer a:focus {
  outline: none;
}

md-content {
  min-height: 100%;
}
body {
  background-color: #efefef;
}
.column-width-80 {
  width: 80%;
}
burndown {
  text-align: center;
}
.bdc-container {
  margin-top: 40px;
}
.bdc-table {
  margin-top: 20px;
  margin-bottom: 50px;
}
.md-button.md-fab.new-sprint-fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
h2.md-title {
  text-align: center;
}
.md-fixed-top {
  position: fixed;
  top: 66px;
}
.md-fixed-right {
  position: fixed;
  right: 16px;
}

.feedback-call-to-action {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

trello-avatar {
  display: inline-block;
  margin: 5px;
}
trello-avatar .trello-avatar {
  vertical-align: top;
  display: inline-block;
}
trello-avatar .trello-avatar .member-avatar {
  border-radius: 50%;
}
trello-avatar .trello-avatar .member-avatar.initials {
  text-align: center;
  background: #d3d3d3;
  font-weight: bold;
}

.profil-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
}
.profil-details {
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 10;
}
.picture-link {
  width: 70px;
  margin: 10px;
}
md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

resources-by-day .row {
  height: 35px;
  margin: 0;
}
resources-by-day .row-avatar {
  height: 50px;
  margin: 0;
}

select-people .member-select {
  display: inline-block;
}
select-people .member-select input[type="checkbox"] {
  display: none;
}
select-people .member-select img {
  border: transparent solid 4px;
}
select-people .member-select.selected img {
  border: solid 2px #e57373;
}
select-people .member-select label {
  width: 100%;
  height: 100%;
}

.bdc-data md-input-container {
  margin-bottom: 0;
}
.bdc-data md-input-container .md-errors-spacer {
  display: none;
}
