.landing-page {
  min-height: 100%;
}
.landing-page div {
  margin-top: -10%;
  text-align: center;
}
.landing-page h1,
.landing-page h3 {
  font-weight: 300;
}
.landing-page h1 {
  color: #636363;
}
.landing-page h3 {
  color: #9E9E9E;
  font-style: italic;
}
footer {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}
footer p {
  font-size: 13px;
  font-style: italic;
  color: #9E9E9E;
}
footer p a {
  color: #9E9E9E;
  text-decoration: none;
  border-bottom: 2px solid #ddd;
  -webkit-transition: color 0.1s, opacity 0.2s, background-color 0.2s, border-color 0.2s;
  transition: color 0.1s, opacity 0.2s, background-color 0.2s, border-color 0.2s;
}
footer p a:hover {
  border-bottom: 2px solid #2196F3;
}
footer img {
  width: 80px;
}
footer img:focus,
footer footer a:focus {
  outline: none;
}

md-content.grey-background {
  background-color: #efefef;
  min-height: 100%;
}
.column-width-80 {
  width: 80%;
}
burndown {
  text-align: center;
}
.bdc-container {
  margin-top: 40px;
}
.bdc-table {
  margin-top: 20px;
  margin-bottom: 50px;
}
h2.md-title {
  text-align: center;
}
.md-fixed-top {
  position: fixed;
  top: 66px;
}
.md-fixed-right {
  position: fixed;
  right: 16px;
}
.bonus {
  position: absolute;
  left: 15px;
}
.md-button.md-fab {
  bottom: 10px;
  right: 10px;
}
md-fab-trigger {
  max-height: 56px;
}

.md-toolbar-tools-bottom {
  font-size: small;
  font-weight: bold;
}
/************
 * UTILS
 ************/
md-sidenav md-toolbar {
  background-image: url(../images/background.jpg);
}
.site-sidenav {
  background: #F3F3F3;
}
.site-sidenav md-content {
  background: transparent;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}
/************
 * DOCS MENU
 ************/
.docs-menu {
  padding: 0;
}
.docs-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.docs-menu li {
  margin: 0;
}
.docs-menu .md-button {
  border-radius: 0;
  color: rgba(0, 0, 0, 0.54);
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  width: 100%;
}
.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}

.feedback-call-to-action {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

trello-avatar {
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  border: solid 2px transparent;
}
trello-avatar .trello-avatar .member-avatar {
  border-radius: 50%;
}
trello-avatar .trello-avatar .member-avatar.initials {
  text-align: center;
  background: #d3d3d3;
  font-weight: bold;
}

.markdown-cheatsheet {
  position: absolute;
  right: 0;
}

.profil-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
}
.profil-details {
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 10;
}
.picture-link {
  width: 70px;
  border: none;
  margin-right: -25px;
  top: -3px;
}
.picture-link trello-avatar img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.picture-link:focus {
  border: none;
  text-decoration: none;
  outline: none;
}
.picture-link:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0);
}
.account-details {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .010em;
  margin: 0;
  line-height: 1.3em;
  padding: 0;
}
.account-details .md-avatar {
  width: 50px;
  height: 50px;
}
.account-details h3 {
  font-weight: bold;
  font-size: 14px;
}
.account-details h3,
.account-details p {
  margin: 0;
}
.account-details .trello-account,
.account-details .gmail-account {
  padding: 10px;
}
.account-details .gmail-account {
  background-color: #eee;
}
.account-details .gmail-account .gmail-avatar {
  margin: 5px;
  border-radius: 50%;
}

resources-by-day .row {
  height: 35px;
  margin: 0;
}
resources-by-day .row-avatar {
  height: 50px;
  margin: 0;
}

select-people .member-select {
  display: inline-block;
}
select-people .member-select input[type="checkbox"] {
  display: none;
}
select-people .member-select.selected img,
select-people .member-select.selected .initials {
  border: solid 2px #e57373;
}
select-people .member-select label {
  width: 100%;
  height: 100%;
}

.bdc-data md-input-container {
  margin-bottom: 0;
}
.bdc-data md-input-container .md-errors-spacer {
  display: none;
}

.clickable {
  cursor: pointer;
}
md-data-table-container td md-radio-button {
  margin-bottom: 0;
}
