.landing-content {
  text-align: center;
}
.landing-content h1,
.landing-content h3 {
  font-weight: 300;
}
.landing-content h1 {
  color: #636363;
  margin: 0;
}
.landing-content h3 {
  color: #9E9E9E;
  font-style: italic;
}
.landing-footer img {
  width: 80px;
}
.landing-footer img:focus,
.landing-footer footer a:focus {
  outline: none;
}

md-content.grey-background {
  background-color: #efefef;
}
burndown {
  text-align: center;
}
h2.md-title {
  text-align: center;
}
.md-fixed-top {
  position: fixed;
  top: 66px;
}
.md-fixed-right {
  position: fixed;
  right: 16px;
}
.bonus {
  position: absolute;
  left: 15px;
}
.md-button.md-fab {
  bottom: 10px;
  right: 10px;
}
md-fab-trigger {
  max-height: 56px;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #1A69CD;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.md-toolbar-tools-bottom {
  font-size: small;
  font-weight: bold;
}
md-content.grey-background {
  min-height: 100%;
}
.container {
  width: 100%;
}
footer p {
  font-size: 13px;
  font-style: italic;
  color: #9E9E9E;
}
footer p a {
  color: #9E9E9E;
  text-decoration: none;
  border-bottom: 2px solid #ddd;
  -webkit-transition: color 0.1s, opacity 0.2s, background-color 0.2s, border-color 0.2s;
  transition: color 0.1s, opacity 0.2s, background-color 0.2s, border-color 0.2s;
}
footer p a:hover {
  border-bottom: 2px solid #2196F3;
}
feedback {
  position: fixed;
  bottom: 0px;
  left: 10px;
  z-index: 1000;
}

.bdc-data md-input-container {
  margin-bottom: 0;
}
.bdc-data md-input-container .md-errors-spacer {
  display: none;
}
.board-call-to-actions {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

trello-avatar {
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  border: solid 2px transparent;
}
trello-avatar .trello-avatar .member-avatar {
  border-radius: 50%;
}
trello-avatar .trello-avatar .member-avatar.initials {
  text-align: center;
  background: #d3d3d3;
  font-weight: bold;
}

.profil-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
}
.profil-details {
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 10;
}
.picture-link {
  width: 70px;
  border: none;
  margin-right: -25px;
  top: -3px;
}
.picture-link trello-avatar img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.picture-link:focus {
  border: none;
  text-decoration: none;
  outline: none;
}
.picture-link:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0);
}
.account-details {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .010em;
  margin: 0;
  line-height: 1.3em;
  padding: 0;
}
.account-details .md-avatar {
  width: 50px;
  height: 50px;
}
.account-details h3 {
  font-weight: bold;
  font-size: 14px;
}
.account-details h3,
.account-details p {
  margin: 0;
}
.account-details .trello-account,
.account-details .gmail-account {
  padding: 10px;
}
.account-details .gmail-account {
  background-color: #eee;
}
.account-details .gmail-account .gmail-avatar {
  margin: 5px;
  border-radius: 50%;
}

member-form md-input-container {
  margin-bottom: 0;
}
member-form md-card {
  border: 2px solid #607D8B;
}

resources-by-day .row {
  height: 35px;
  margin: 0;
}
resources-by-day .row-avatar {
  height: 50px;
  margin: 0;
}

select-people .member-select {
  display: inline-block;
}
select-people .member-select input[type="checkbox"] {
  display: none;
}
select-people .member-select.selected img,
select-people .member-select.selected .initials {
  border: solid 2px #e57373;
}
select-people .member-select label {
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}
md-data-table-container td md-radio-button {
  margin-bottom: 0;
}
