md-content.grey-background
  md-toolbar
    .md-toolbar-tools
      md-button.md-icon-button(
        aria-label='Menu' 
        ng-click="toggleSidenav('left')"
      )
      h2
        span.clickable(ui-sref="tab.current-sprint") Not So Shitty
      span(flex='')
      profil-info
  .container(ui-view)
  footer(flex)
    p
      a(
          href="http://attackwithnumbers.com/the-laws-of-shitty-dashboard"
          target="_blank"
        ) The law of shitty dashboards
      |  is broken

  feedback
