header
  md-toolbar
    .md-toolbar-tools
      h2
        span.clickable(ui-sref="tab.board") Scrumble {{ project.name }}
      span(flex)
      profil-info
main.md-padding(layout="row" flex)
  .container(ui-view)
footer(layout="row" layout-align="center center")
  p
    a(
        href="http://attackwithnumbers.com/the-laws-of-shitty-dashboard"
        target="_blank"
      ) The law of shitty dashboards
    |  is broken

feedback
