md-dialog(flex="80")
  md-toolbar
    .md-toolbar-tools
      h2 Edit Problem
      span(flex)
      md-button.md-icon-button(ng-click='cancel()')
        md-icon(md-svg-src='close' aria-label='Close dialog')
  md-dialog-content
    .md-padding
      md-content.fix-tags-input(layout="column")
        div(layout="row" layout-align="center center")
          md-datepicker(ng-model="problem.happenedDate" md-placeholder="Date")
        md-input-container
          label Description
          md-icon(md-svg-src="clipboard-text")
          input(ng-model="problem.description")
        md-input-container
          label Link (such as the Trello ticket link)
          md-icon(md-svg-src="link")
          input(ng-model="problem.link")
        md-input-container
          label Cause hypothesis
          md-icon(md-svg-src="flask-outline")
          textarea(ng-model="problem.causeHypothesis" rows="2")
        md-input-container
          label Action
          md-icon(md-svg-src="hand-pointing-right")
          textarea(ng-model="problem.action" rows="2")
        div(layout="row")
          md-icon(md-svg-src="tag-multiple" flex="initial")
          tag-input(problem="problem" flex)
  md-dialog-actions(layout='row')
    md-button.md-raised.md-primary(ng-click="save(problem)") Save
