doctype html
html(lang="en", ng-app="NotSoShitty")
  head
    title Not so shitty
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/vendor.css")
    link(rel="stylesheet", href="css/app.css")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="stylesheet" href="//cdn.materialdesignicons.com/1.3.41/css/materialdesignicons.min.css")
  body
    md-content.container
      md-toolbar
        .md-toolbar-tools
          h2
            span Not So Shitty
      md-tabs.md-primary.md-hue-2
        md-tab(data-ui-sref="project")
          md-tab-label  Project
        md-tab(data-ui-sref="current-sprint")
          md-tab-label  Sprint
        md-tab(data-ui-sref="daily-report")
          md-tab-label  Daily Mail
      //- profil-info

      main.container(ui-view)
    feedback

    script(src="https://apis.google.com/js/client.js?onload=checkAuth")
    script(src="js/vendor.js")
    script(src="js/templates.js")
    script(src="js/app.js")
