doctype html
html(lang="en", ng-app="NotSoShitty")
  head
    title Not so shitty
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/vendor.css")
    link(rel="stylesheet", href="css/app.css")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
  body
    md-content
      md-toolbar
        .md-toolbar-tools
          h2
            span Not So Shitty
      md-tabs.md-primary.md-hue-2
        md-tab(data-ui-sref="settings")
          md-tab-label  Settings
        md-tab(data-ui-sref="burn-down-chart")
          md-tab-label  Burn Down Chart
        md-tab(data-ui-sref="daily-report")
          md-tab-label  Daily Mail
      //- profil-info

      main.container(ui-view)

    script(src="js/vendor.js")
    //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js')
    script(src="js/templates.js")
    script(src="js/app.js")
