md-card(flex="100")
  md-tabs(md-border-bottom md-autoselect md-dynamic-height md-stretch-tabs="always")
    md-tab(label='Satisfaction Survey')
      client-form(
        template="clientSurveyTemplate"
        sprint="currentSprint"
        project="project"
      )
    //- md-tab(label='Checklists')
    //-   checklist(
    //-     template="checklistsTemplate"
    //-     sprint="currentSprint"
    //-   )
    md-tab(label='Celerity')
      celerity-graph(project="project")
