md-card-content.md-padding.satisfaction-survey
  h2.md-title Satisfaction survey: {{ project.name }} - Sprint {{ sprint.number }}
    md-button.md-icon-button(ng-click="print()")
      md-icon(md-svg-src="printer", aria-label="Print")
  md-subheader(style="color: red; text-align: center;") Attention les résultats de ce questionnaire ne sont pas enregistrés dans la Google Spreadsheet du bac rouge
  
  div(ng-repeat="question in template")
    p.question {{ question.label }}
    .answer
      md-radio-group(ng-if="question.type == 'radio'" ng-model="question.answer")
        md-radio-button.md-primary(ng-repeat="item in question.items"  ng-value="item.value") {{ item.label }}
      md-input-container.md-block(ng-if="question.type == 'textarea'")
        label Your answer...
        textarea(ng-model="question.answer" aria-label="answer")
  
  section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
    md-button.md-raised.md-primary(ng-click="save()" ng-disabled="saving") Save
