client/bower_components
client/node_modules
client/public/js
client/src/ngConstants.js
api/node_modules
npm-debug.log
coverage
docker-compose.dev.yml
docker-compose.prod.yml
.idea/
client/meta.json
.env