appbuilder:
  image: node:wheezy
  volumes:
    - ./client:/app
  working_dir: /app
  environment:
    API_URL: "https://api.scrumble.io/v1"
    GOOGLE_CLIENT_ID: '605908567890-3bg3dmamghq5gd7i9sqsdhvoflef0qku.apps.googleusercontent.com'
    TRELLO_KEY: 2dcb2ba290c521d2b5c2fd69cc06830e
  command: "npm install --unsafe-perm"
