data:
  image: busybox
  volumes:
    - /data

db:
  image: postgres:9.4
  volumes_from:
    - data
  ports:
    - "5432:5432"

api:
  image: node:wheezy
  volumes:
    - .:/app
  working_dir: /app
  links:
   - db
  ports:
    - "8000:8000"
  environment:
    DB_DATABASE: postgres
    DB_USERNAME: postgres
    GOOGLE_API_SECRET: 'YOUR GOOGLE API SECRET'
    TRELLO_KEY: 'YOUR TRELLO KEY'
    TRELLO_SECRET: 'YOUR TRELLO SECRET'
  command: npm run server:watch

showcase:
  image: nginx
  volumes:
    - ./public:/usr/share/nginx/html:ro
  ports:
    - "8080:80"
  environment:
    - NGINX_HOST=scrumble.io
    - NGINX_PORT=80
  command: /bin/bash -c "nginx -g 'daemon off;'"
