data:
  image: busybox
  volumes:
    - /data

db:
  image: postgres:9.4
  volumes_from:
    - data
  ports:
    - "5432:5432"

api:
  image: node:wheezy
  volumes:
    - ./api:/app
  working_dir: /app
  links:
   - db
  ports:
    - "8000:8000"
  environment:
    HOST: "0.0.0.0"
    PORT: "8000"
    DB_DATABASE: postgres
    DB_USERNAME: postgres
    GOOGLE_CLIENT_ID: '***'
    GOOGLE_API_SECRET: '***'
    TRELLO_KEY: '***'
    TRELLO_SECRET: '***'
    SMTP_HOST: '***'
    SMTP_USER: '***'
    SMTP_PASS: '***'
    EMAIL_CONTACT: '***'
  command: npm run watch

app:
  image: node:wheezy
  volumes:
    - ./client:/app
  working_dir: /app
  ports:
    - "8083:8083"
    # livereload port
    - "35729:35729"
  links:
    - api
  environment:
    APP_PORT: "8083"
    BIGBEN_API_KEY: '***'
  command: npm run watch

showcase:
  image: nginx
  volumes:
    - ./showcase/public:/usr/share/nginx/html:ro
  ports:
    - "8080:80"
  command: /bin/bash -c "nginx -g 'daemon off;'"
