hgroup
  h1 Not So Shitty
  h3 Automate your daily boring tasks
  md-button.md-raised.md-primary(ng-click="login()")
    md-icon(md-svg-icon='trello')
    btn    Login with Trello
      .ripples.buttonRipples
        span.ripplesCircle

footer
  a(href='http://www.theodo.fr/', target='_blank')
    img(src='https://www.theodo.fr/bundles/theodowebsite/images/theodo-logo-medium.png')
  p
    | You Gotta Love
    a(href='http://www.theodo.fr/', target='_blank') Theodo
