md-dialog
  form
    md-toolbar
      .md-toolbar-tools
        h2 Daily Report Preview
        span(flex='')
        md-button.md-icon-button(ng-click='cancel()')
          md-icon(md-svg-src='close', aria-label='Close dialog')
    md-dialog-content
      h3 To: {{ message.to }}
      h4 Cc: {{ message.cc }}
      h4 Subject: {{ message.subject }}
      p Body: {{ message.body }}
    md-dialog-actions(layout='row')
      md-button.md-flat.md-primary(ng-click="send()") Send
