div(layout="column" flex="100" layout-sm="column")
  md-card(flex="100")
    md-card-title
      md-card-title-text
        span.md-headline Edit Template
      div(flex)
      markdown-helper
    md-card-content(flex layout="column")
      md-input-container
        label Subject
        input(ng-model="dailyReport.message.subject")
      md-input-container.md-block
        label Body (in markdown)
        textarea(ng-model="dailyReport.message.body" columns="1")
    md-card-actions(layout='row' layout-align="center center" layout-wrap)
      md-button.md-raised.md-primary(ng-click="save()")
        | Save
  md-card(flex="100")
    md-card-title
      md-card-title-text
        span.md-headline Dynamic Fields
    md-card-content(flex layout="row" layout-sm="column")
      div(flex="50" flex-sm="100")
        dynamic-fields-list(available-fields='availableFields1')
      div(flex="50" flex-sm="100")
        dynamic-fields-list(available-fields='availableFields2')
