.md-toolbar-tools
  h2.md-title.pointer(ng-click='openEditTitle($event)') {{ bdcTitle }}
  span(flex)
  div(ng-if="callToActions")
    md-button.md-icon-button(aria-label='Update BDC' ng-click="updateBDC()")
      md-icon(md-svg-icon="autorenew") Update
      md-tooltip(md-direction="bottom") Go to next day
    md-button.md-icon-button(ng-click='printBDC()')
      md-icon(md-svg-icon='printer') Print
      md-tooltip(md-direction="bottom") Print
md-card-content
  burndown(data="sprint.bdcData")
