style(type='text/css').
  @page { size: landscape; }
md-card-title
  md-card-title-text(flex="grow")
    span.md-headline.pointer(
      ng-click="openEditTitle($event)"
      ng-if="displayTitle"
    ) {{ bdcTitle }}
  div(flex)
  div(ng-if="callToActions" flex layout="row")
    md-button.md-icon-button(aria-label='Update BDC' ng-click="backward()")
      md-icon(md-svg-icon="step-backward") Update
      md-tooltip(md-direction="bottom") Go backward
    md-button.md-icon-button(ng-click='printBDC()')
      md-icon(md-svg-icon='printer') Print
      md-tooltip(md-direction="bottom") Print
    md-button.md-icon-button(aria-label='Update BDC' ng-click="forward()")
      md-icon(md-svg-icon="step-forward") Update
      md-tooltip(md-direction="bottom") Go forward
md-card-content
  burndown(data="sprint.bdcData")
