<md-dialog aria-label="Edit BDC Title" ng-cloak="ng-cloak">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Burndown Chart</h2><span flex="flex"></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-data-table-container>
                <table class="bdc-data" md-data-table="md-data-table">
                    <thead>
                        <tr>
                            <th name="Day"></th>
                            <th name="Standard"></th>
                            <th name="Done"></th>
                            <th name=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="day in data" ng-class="{'md-selected': currentDayIndex == $index}">
                            <td>{{ day.date | date : 'EEEE' }}</td>
                            <td>{{ day.standard.toFixed(1) }}</td>
                            <td>
                                <section layout="row" layout-sm="column" layout-wrap="layout-wrap">
                                    <md-input-container flex="50" md-no-float="true"><label>Done</label><input ng-model="day.done" type="number" /></md-input-container>
                                </section>
                            </td>
                            <td>
                                <div layout-align="center center" ng-if="currentDayIndex == $index">
                                    <md-button class="md-raised md-primary" ng-click="fetchTrelloDonePoints()">
                                        <md-icon md-svg-icon="trello"></md-icon>Fetch done
                                    </md-button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="save()">Save</md-button>
    </md-dialog-actions>
</md-dialog>