.md-toolbar-tools-bottom {
  font-size: small;
  font-weight: bold;
}
md-content.grey-background {
   min-height: 100%;
}

.container {
  width: 100%;
}

feedback {
  position: fixed;
  bottom: 0px;
  left: 10px;
  z-index: 1000;
}
