div.sprint-body(layout="row" layout-align="center end")
  md-card.layout-padding(flex="80")
    form(name="dailyReportCreate")
      h2.md-title(layout-align="center end") DAILY REPORT
      div(layout layout-sm="column")
        md-input-container(flex)
          label Subject
          input(ng-model="dailyReport.message.subject")
      div
        md-input-container.md-block
          label Body
          textarea(ng-model="dailyReport.message.body" columns="1" rows="5")

        md-button.md-raised.md-primary(ng-click="preview($event)") Preview
        md-button.md-raised.md-primary(ng-click="save()") Save template
