md-content.grey-background {
  background-color: #efefef;
}
burndown {
  text-align: center;
}
h2.md-title {
  text-align: center;
}
.md-fixed-top {
  position: fixed;
  top: 66px; // size of my navbar + 16px
}

.md-fixed-right {
  position: fixed;
  right: 16px;
}

.bonus {
  position: absolute;
  left: 15px;
}
.md-button.md-fab{
  bottom: 10px;
  right: 10px
}
md-fab-trigger {
  max-height: 56px;
}
