@media print {
  header, md-sidenav, .md-sidenav-left, feedback, button, md-tabs-wrapper, md-tooltip, .hide-for-print {
    display: none !important;
  }
  md-card {
    box-shadow: none !important;
  }
  md-radio-button.md-checked {
    .md-off {
      border-width: 10px;
    }
  }
  md-radio-button {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
  }
  @page {
    overflow: hidden;
    margin: 1%;
  }
  .answer {
    margin-bottom: 0 !important;
  }
  .md-title {
    margin-top: 0 !important;
  }
  body {
    margin-top: 0 !important;
  }
}
