md-card.md-padding(layout="row" layout-wrap layout-align="center start" layout-xs="column" flew="100")
  div(
    flex="50" flex-xs="100"
    ng-repeat="sprint in sprints"
  )
    sprint-details(sprint="sprint" sprints="sprints")
