md-grid-list(md-cols-xs='1', md-cols-sm='2', md-cols-md='3', md-cols-gt-md='3', md-row-height-gt-md='3:2', md-row-height='3:2', md-gutter='12px', md-gutter-gt-sm='8px')
  md-grid-tile(ng-repeat='sprint in sprints' ng-class="{green: sprint.success == 'ok', red: sprint.success == 'ko', gray: sprint.success == 'unknown'}")
    sprint-details.md-padding(sprint="sprint" sprints="sprints")
