md-grid-list(md-cols-xs='1', md-cols-sm='2', md-cols-md='2', md-cols-gt-md='3', md-row-height-gt-md='2:1', md-row-height='2:1', md-gutter='12px', md-gutter-gt-sm='8px')
  md-grid-tile.red(ng-repeat='sprint in sprints')
    sprint-details(sprint="sprint" sprints="sprints")
