md-card.md-whiteframe-z2.bdc-container
  burndown(data="tableData")
md-card.md-whiteframe-z2.bdc-table
  md-data-table-container
    table(md-data-table)
      thead
        tr
          th(name="Day")
          th(name="Standard")
          th(name="Done")
      tbody
        tr(ng-repeat="day in tableData" ng-class="{'md-selected': currentDayIndex == $index}")
          td {{ day.date | date : 'EEEE' }}
          td {{ day.standard.toFixed(1) }}
          td
            md-input-container(flex)
              label Done
              input(ng-model="day.done")
            .bbb(ng-if="currentDayIndex == $index") (fetched from Trello)
  md-button.md-raised.md-primary(ng-click="save()") Save
