burndown(data="tableData")
md-card
  table.table.table-responsive-vertical.shadow-z-1
    thead
      tr
        th Day
        th Standard
        th Done
    tbody
      tr(ng-repeat="day in tableData")
        td {{ day.label }}
        td {{ day.standard }}
        td
          input(ng-model="day.done")
