div(layout="row" layout-align="center start")
  md-card(flex="90")
    md-toolbar.md-hue-2
      .md-toolbar-tools
        h2.md-title {{ bdcTitle }}
        span(flex)
        md-menu
          md-button.md-icon-button(aria-label='Open BDC menu', ng-click='openBDCMenu($mdOpenMenu, $event)')
            md-icon(md-menu-origin='', md-svg-icon='more')
          md-menu-content(width='4')
            md-menu-item
              md-button(ng-click='openEditBDC($event)')
                md-icon(md-svg-icon='table-edit', md-menu-align-target='')
                | Edit BDC
            md-menu-item
              md-button(ng-click='openEditTitle($event)')
                md-icon(md-svg-icon='border-color', md-menu-align-target='')
                | Edit Title
            md-menu-item
              md-button(ng-click='print()' disabled="disabled")
                md-icon(md-svg-icon='printer', md-menu-align-target='')
                | Print

    burndown(data="bdcData")
md-button.md-fab.md-primary.new-sprint-fab(ng-click="showConfirmNewSprint($event)")
  md-icon(md-svg-icon="plus")
  md-tooltip(md-direction="top") Create a new sprint
