div(layout="column" layout-gt-md="row" layout-align="center start")
  md-card(flex-gt-md="25" flex="90")
    project-widget(project="project")
  md-card(flex-gt-md="70" flex="90")
    .md-toolbar-tools
      h2.md-title {{ bdcTitle }}
      span(flex)
      md-menu
        md-button.md-icon-button(aria-label='Open BDC menu' ng-click='openMenu($mdOpenMenu, $event)')
          md-icon(md-menu-origin md-svg-icon='more')
        md-menu-content(width='4')
          md-menu-item(ng-click='openEditBDC($event)')
            md-button
              md-icon(md-svg-icon='table-edit')
              | Edit BDC
          md-menu-item(ng-click='openEditTitle($event)')
            md-button
              md-icon(md-svg-icon='border-color')
              | Edit Title
          md-menu-item(ui-sref='tab.edit-sprint({sprintId: sprint.objectId})')
            md-button
              md-icon(md-svg-icon='settings')
              | Settings
          md-menu-item(ng-click='print()')
            md-button(disabled="disabled")
              md-icon(md-svg-icon='printer')
              | Print
    md-card-content
      burndown(data="sprint.bdcData")
    md-card-actions(layout='row', layout-align='end center')
      md-button.md-icon-button(aria-label='Update BDC' ng-click="updateBDC()")
        md-icon(md-svg-icon='autorenew')

md-fab-speed-dial.md-scale.md-fab-bottom-right.md-hover-full(
  md-direction='up'
  md-open='menuIsOpen'
  ng-mouseenter='menuIsOpen=true'
  ng-mouseleave='menuIsOpen=false'
)
  md-fab-trigger
    md-button.md-fab.md-warn
      md-icon(md-svg-icon='menu')
  md-fab-actions
    md-button.md-fab.md-primary.md-hue-2.md-mini(ng-click='dailyReport()')
      md-icon(md-svg-icon='gmail')
      md-tooltip(md-direction='left') Compose your Daily Report
    md-button.md-fab.md-primary.md-hue-2.md-mini(ng-click='showConfirmNewSprint($event)')
      md-icon(md-svg-src='plus' aria-label='Create')
      md-tooltip(md-direction='left') Create a new sprint
