div(layout="column" layout-sm="column")
  md-input-container.md-block
    md-select(
      multiple="true"
      placeholder="Select today's problems"
      ng-model="todaysProblems"
      md-on-close="update(todaysProblems)"
    )
      md-option.height-2-line(ng-repeat="problem in problems" ng-value="problem")
        .item-title
          strong {{ problem.happenedDate | date : 'shortDate' }} 
          | {{ problem.description }}
        .item-metadata
          em {{ '&#8627;' + problem.action }}
  md-input-container.md-block
    textarea(ng-model="markdown" aria-label="problems")
