md-card
  md-card-title
    md-card-title-text
      span.md-headline Sprint {{ sprint.number }}
      span.md-subhead {{ sprint.goal }}
  md-card-content(layout='column')
    p Dates: {{ sprint.dates.start }} -> {{ sprint.dates.end }}
    p(ng-if="sprint.speed") Real Speed: {{ sprint.speed }}
  md-card-actions(layout="row" layout-align="end center")
    md-button.md-icon-button(ng-click="activateSprint(sprint)")
      md-icon(md-svg-icon="hexagon" ng-class="{ 'active-sprint': sprint.isActive }")
      md-tooltip(md-direction="top") Activate This Sprint
    md-button.md-icon-button(ng-click="showBurndown($event, sprint)")
      md-icon(md-svg-icon="trending-down")
      md-tooltip(md-direction="top") See Burndown Chart
    md-button.md-icon-button(ui-sref="tab.indicators({sprintId: sprint.objectId})")
      md-icon(md-svg-icon="chart-bar") Indicators
      md-tooltip(md-direction="top") Go to indicators
    md-button.md-icon-button(aria-label="delete" ng-click="delete()")
      md-icon(md-svg-icon="delete")
      md-tooltip(md-direction="top") Delete this sprint
