md-card-title
  md-card-title-text
    span
      md-icon.check(md-svg-icon="check" ng-if='sprint.isActive')
      span.md-headline Sprint {{ sprint.number }}: {{ sprint.goal }}
    span.md-subhead {{ sprint.dates.start | date : 'MMMM d' }} to {{ sprint.dates.end | date : 'MMMM d' }}
    span.md-primary.md-subhead(ng-if="sprint.speed") Real Speed: {{ sprint.speed }}
  md-card-title-media(layout-align='end')
    img.md-media-sm.card-media(src='images/success.png' ng-if="sprint.success == 'ok'")
    img.md-media-sm.card-media(src='images/fail.png' ng-if="sprint.success == 'ko'")
md-card-actions(layout='row' layout-align='end center')
  md-button.md-primary.md-hue-2.md-icon-button(ng-click="activateSprint(sprint)" ng-disabled='sprint.isActive')
    md-icon(md-svg-icon="hexagon")
    md-tooltip(md-direction="top") Activate This Sprint
  md-button.md-accent.md-hue-1.md-icon-button(ng-click="showBurndown($event, sprint)")
    md-icon(md-svg-icon="trending-down")
    md-tooltip(md-direction="top") See Burndown Chart
  md-button.md-accent.md-hue-1.md-icon-button(
    aria-label="indicators"
    ng-click="indicators(sprint)"
  )
    md-icon(md-svg-icon="chart-bar") Indicators
    md-tooltip(md-direction="top") Go to indicators
  md-button.md-warn.md-hue-2.md-icon-button(aria-label="delete" ng-click="delete()")
    md-icon(md-svg-icon="delete")
    md-tooltip(md-direction="top") Delete this sprint
