md-card(flex="100")
  //- md-tabs(md-border-bottom md-autoselect md-dynamic-height md-stretch-tabs="always")
  //-   md-tab(label='Client Form')
  md-button.md-icon-button(ui-sref="print-indicators({sprintId: sprint.objectId})")
    md-icon(md-svg-src="printer", aria-label="Print")
  client-form(sprint="sprint")
