div
  div(layout="row" layout-align="center")
    md-input-container
      label Search a problem
      input(ng-model="searchText")
      
  md-list
    div(ng-repeat-start="problem in problems | filter : searchText")
      md-list-item.md-3-line.md-long-text
        include ./item.jade
        
    md-divider(ng-repeat-end ng-if="!$last")
