md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
  md-toolbar.md-tall.md-hue-2
    span(flex='')
    .md-toolbar-tools-bottom.inset(layout='column')
      trello-avatar
      span
      div Nicolas Boutin
      div nicolasb@theodo.fr
  md-list
    md-item(ng-repeat='item in menu')
      a
        md-item-content(md-ink-ripple='', layout='row', layout-align='start center')
          .inset
            ng-md-icon(icon='{{item.icon}}')
          .inset
            | {{item.title}}
    md-divider
    md-subheader Management
    md-item(ng-repeat='item in admin')
      a
        md-item-content(md-ink-ripple='', layout='row', layout-align='start center')
          .inset
            ng-md-icon(icon='{{item.icon}}')
          .inset
            | {{item.title}}
