style(type='text/css').
  @page { size: portrait; }
md-card-content.md-padding
  h2.md-title Checklists
    md-button.md-icon-button(ng-click="print()")
      md-icon(md-svg-src="printer", aria-label="Print")
  
  div(ng-repeat="checklist in indicators.checklists")
    h2.md-title {{ checklist.name }}
    div(ng-repeat="item in checklist.list")
      md-checkbox(ng-model="item.selected") {{ item.label }}
  
  section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
    md-button.md-raised.md-primary(ng-click="save()" ng-disabled="saving") Save
