div(layout="column" layout-sm="column")
  md-input-container.md-block
    textarea(ng-model="markdown" aria-label="previous goals")
    div(ng-messages="errors" role="alert" md-auto-hide="false")
      div(ng-message="doneColumnMissing") There is no done column set in the project settings
