md-dialog(aria-label='Available Dynamic Fields', ng-cloak)
  md-toolbar
    .md-toolbar-tools
      h2 Available Dynamic Fields
      span(flex)
      md-button.md-icon-button(ng-click='cancel()')
        md-icon(md-svg-src='close', aria-label='Close dialog')
  md-dialog-content
    .md-dialog-content
      dynamic-fields-list(available-fields='availableFields')
      div(layout="row")
        md-input-container(flex="50")
          label Behind Label
          input(ng-model="dailyReport.message.behindLabel")
        md-input-container(flex="50")
          label Ahead Label
          input(ng-model="dailyReport.message.aheadLabel")
  md-dialog-actions(layout='row')
    md-button(ng-click="save()")
      | Save
