div(layout="row" flex="100" layout-sm="column" layout-xs="column")
  md-card(flex="50" flex-sm="100" flex-xs="100")
    md-card-title(flex="nogrow")
      md-card-title-text
        span.md-headline {todaysGoals}
        span.md-subhead The list of tickets in "sprint", "doing", "blocked", "toValidate" columns
    md-card-content(flex)
      select-goals(goals="todaysGoals" project="project" sprint="sprint")
  md-card(flex="50" flex-sm="100" flex-xs="100")
    md-card-title(flex="nogrow")
      md-card-title-text
        span.md-headline {previousGoals}
        span.md-subhead The list of goals in the previous email. It's green if the trello ticket is in the "done column"
    md-card-content(flex)
      previous-goals(goals="previousGoals" sprint="sprint")
div(layout="row" flex="100" layout-sm="column" layout-xs="column")
  md-card(flex="50" flex-sm="100" flex-xs="100")
    md-card-title
      md-card-title-text
        span.md-headline {problems}
      div(flex)
      markdown-helper
    md-card-content
      md-input-container.md-block
        textarea(ng-model="sections.problems" aria-label="problems")
  md-card(flex="50" flex-sm="100" flex-xs="100")
    md-card-title
      md-card-title-text
        span.md-headline {intro}
      div(flex)
      markdown-helper
    md-card-content
      md-input-container.md-block
        textarea(ng-model="sections.intro" aria-label="intro")
div.hidden-bdc
  sprint-widget(project="project" sprint="sprint" call-to-actions="false")
          
md-button.md-fab.md-primary.board-call-to-actions(ng-click="preview($event)")
  md-icon(md-svg-icon='eye') Preview
  md-tooltip(md-direction='left') Preview
