div.md-padding(layout="column" layout-align="center center" flex="100")
  md-card(flex="90" layout-fill)
    .md-toolbar-tools
      span(flex)
      md-menu
        md-button.md-icon-button(aria-label='Open menu' ng-click='openMenu($mdOpenMenu, $event)')
          md-icon(md-menu-origin md-svg-icon='more')
        md-menu-content(width='4')
          md-menu-item(ng-click='openDynamicFields($event)')
            md-button
              md-icon(md-svg-icon='code-braces')
              | Edit Template
          md-menu-item
            md-button(
              href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
              target="_blank"
              aria-label="Markdown Cheatsheet"
            )
              md-icon(md-svg-icon='markdown')
              | Markdown Cheatsheet
    md-card-content
      h2.md-title {todaysGoals}
      select-goals(goals="todaysGoals" project="project")
      
      h2.md-title {previousGoals}
      previous-goals(goals="previousGoals" sprint="sprint")

      h2.md-title {problems}
      md-input-container.md-block
        textarea(ng-model="problems" aria-label="problems")
          
      section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
        md-button.md-raised.md-primary(ng-click="preview($event)") Preview
