md-card(flex="100")
  md-tabs(md-selected='selectedIndex' md-border-bottom md-autoselect md-dynamic-height md-stretch-tabs='always')
    md-tab(label='Chart')
      sprint-widget(project="project" sprint="sprint")
    md-tab(label='Table')
      md-table-container
        table.bdc-data(md-table)
          thead(md-head)
            tr(md-row)
              th(md-column) Day
              th(md-column) Standard
              th(md-column) Done
              th(md-column)
          tbody(md-body)
            tr(
              md-row
              ng-repeat="day in tableData"
              ng-class="{'md-selected': currentDayIndex == $index}"
            )
              td(md-cell ng-if='$first == true') Start
              td(md-cell ng-if='$last == true') Ceremony
              td(md-cell ng-if='$first == false && $last == false') {{ day.date | date : 'EEEE' }}
              td(md-cell) {{ day.standard.toFixed(1) }}
              td(md-cell)
                section(layout="row" layout-sm="column" layout-wrap)
                  md-input-container(flex="50" md-no-float="true")
                    label Done
                    input(ng-model="day.done" type="number")
              td(md-cell)
                div(layout-align="center center" ng-if="currentDayIndex == $index")
                  md-button.md-raised.md-primary(ng-click="fetchTrelloDonePoints()")
                    md-icon(md-svg-icon='trello')
                    | Fetch done
      section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
        md-button.md-raised.md-primary(ng-click="save()") Save
