.profil-button {
  position:absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
}
.profil-details {
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 10;
}
.picture-link {
  width: 70px;
  border: none;
  margin-right: -25px;
}
.picture-link:focus {
  border: none;
  text-decoration: none;
  outline: none;
}
md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
