md-menu
  md-button.picture-link(ng-click='openMenu($mdOpenMenu, $event)')
    trello-avatar(
      member="userInfo"
    )
  //- md-button.md-icon-button(aria-label='Open BDC menu', ng-click='openMenu($mdOpenMenu, $event)')
  //-   md-icon(md-menu-origin='', md-svg-icon='more')
  md-menu-content(width='5')
    md-list-item.md-3-line
      a.picture-link(href="{{userInfo.url}}" target="_blank")
        trello-avatar(
          member="userInfo"
        )
      .md-list-item-text(layout="row")
        div(layout='column')
          h3 Trello Account
          p {{ userInfo.fullName }}
          p {{ userInfo.email }}
        md-button.md-warn Logout
    md-list-item.md-3-line
      a.picture-link(href="{{userInfo.url}}" target="_blank")
        trello-avatar(
          member="userInfo"
        )
      .md-list-item-text(layout="row")
        div(layout='column')
          h3 Gmail Account
        md-button Login
