div
  md-button.md-icon-button.profil-button(ng-click='toggleProfilCard()' aria-label='Profil')
    trello-avatar(member="userInfo")
    
  md-card.profil-details(ng-if="showProfilCard")
    md-list
      md-list-item.md-3-line
        a.picture-link(href="{{userInfo.url}}" target="_blank")
          trello-avatar(member="userInfo" size="170")
        .md-list-item-text
          h3 Trello Account
          p {{ userInfo.fullName }}
          p {{ userInfo.email }}
        md-button.md-warn(ng-click="logout()") Logout
      md-divider
      md-list-item.md-3-line
        trello-avatar.md-avatar(member="userInfo")
        .md-list-item-text
          h3 Gmail Account
          md-button Login
    
