md-menu.account-menu
  md-button.picture-link(ng-click='openMenu($mdOpenMenu, $event)')
    trello-avatar(
      member="userInfo"
    )
  md-menu-content.account-details.md-whiteframe-z2(width='5')
    .trello-account(layout='row')
      a(href="{{userInfo.url}}" target="_blank")
        trello-avatar(
          member="userInfo"
        )
      div(layout='column')
        h3.title Trello Account
        p {{ userInfo.fullName }}
        p {{ userInfo.email }}
      md-button.md-warn(ng-click="logout()") Logout
    .gmail-account(layout='row')
      img.md-avatar.member-avatar.gmail-avatar(
        alt="{{ googleUser.name }}"
        ng-src="{{ googleUser.picture }}"
      )
      div(layout='column' layout-align="center start")
        h3.title Gmail Account
        p {{ googleUser.email }}
      md-button.md-warn(ng-click="googleLogout()" ng-if="googleUser.email") Logout
      md-button(ng-click="googleLogin()" ng-if="!googleUser.email") Login
