md-list
  md-list-item.md-2-line(ng-repeat='field in availableFields')
    md-icon(md-svg-icon='{{ field.icon }}')
    .md-list-item-text
      h3 {{ field.key }} 
      p(ng-bind-html='field.description')
