div(ng-repeat="type in listTypes" layout="column")
  md-input-container(layout="row")
    label Select {{ type }} column
      span.required(ng-if="type == 'done'")  (required)
    md-select(ng-model="columnIds[type]" style="width: 80%;")
      md-option(ng-value="column.id" ng-repeat="column in boardColumns") {{ column.name }}
