md-input-container(
  layout-gt-lg="row"
  layout="column"
  ng-repeat="type in listTypes"
)
  label Select {{ type }} column
    span.required(ng-if="type == 'done'")  (required)
  md-select(ng-model="columnIds[type]")
    md-option(ng-value="column.id" ng-repeat="column in boardColumns") {{ column.name }}
