div(layout="column" layout-fill flex)
  main.landing-content(layout="column" layout-align="center center" flex)
    h1 Scrumble
    h3 Automate your daily scrum tasks
    md-button.md-raised.md-primary(ng-click="login()" ng-disabled="doing")
      md-icon(md-svg-icon='trello')
      |   Login with Trello

  footer.landing-footer(layout="row" layout-align="center center")
    a(href='http://www.theodo.fr', target='_blank')
      img(src='images/theodo.png')
  feedback
