md-content {
  min-height: 100%;
}
.column-width-80 {
	width: 80%;
}
burndown {
  text-align: center;
}
.bdc-container {
  margin-top: 40px;
}
.bdc-table {
  margin-top: 20px;
  margin-bottom: 50px;
}
