div.hidden-bdc
  sprint-widget(project="project" sprint="sprint")
md-dialog(aria-label='Burndown dialog', ng-cloak='')
  md-toolbar
    .md-toolbar-tools
      h2 Burndown Chart
      span(flex='')
      md-button.md-icon-button(ng-click='cancel()')
        md-icon(md-svg-src='close', aria-label='Close dialog')
  md-dialog-content
    .md-dialog-content
      img(ng-src="{{pngBase64}}")
