div.layout-wrap(layout="row" flex="100" layout-sm="column" layout-xs="column")
  md-card(flex="30" flex-md="45" flex-sm="100" flex-xs="100" ng-repeat='sprint in sprints')
    sprint-details(sprint="sprint" sprints="sprints")
