doctype html
html(lang="en", ng-app="Scrumble")
  head
    title Scrumble
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel="stylesheet" href="css/app.css")
    link(rel="stylesheet" href="css/please-wait.css")
    link(rel="stylesheet" href="css/vendor.css")
    link(rel="stylesheet" href="css/common/styles/style.css")

    link(rel='apple-touch-icon', sizes='57x57', href='images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='images/favicon/favicon-16x16.png')
    link(rel='manifest', href='images/favicon/manifest.json')
  body
    md-content.grey-background(ui-view layout="column")
    script(src='js/please-wait.min.js')
    script.
      window.loading_screen = window.pleaseWait({
        logo:"images/logo.png",
        backgroundColor: '#ffffff',
        loadingHtml:"<div class='sk-cube-grid'><div class='sk-cube sk-cube1'></div><div class='sk-cube sk-cube2'></div><div class='sk-cube sk-cube3'></div><div class='sk-cube sk-cube4'></div><div class='sk-cube sk-cube5'></div><div class='sk-cube sk-cube6'></div><div class='sk-cube sk-cube7'></div><div class='sk-cube sk-cube8'></div><div class='sk-cube sk-cube9'></div></div>"
      })
    script(src="js/vendor.js")
    script(src="js/templates.js")
    script(src="js/app.js")
