md-card(flex="100")
  md-tabs(md-selected='selectedIndex' md-border-bottom md-autoselect md-dynamic-height md-stretch-tabs='always')
    md-tab(label='Chart')
      sprint-widget(project="project" sprint="sprint" call-to-actions="true" display-title="true")
    md-tab(label='Table')
      md-data-table-container
        table.bdc-data(md-data-table)
          thead
            tr
              th(name="Day")
              th(name="Standard")
              th(name="Done")
              th(name="")
          tbody
            tr(ng-repeat="day in tableData" ng-class="{'md-selected': currentDayIndex == $index}")
              td {{ day.date | date : 'EEEE' }}
              td {{ day.standard.toFixed(1) }}
              td
                section(layout="row" layout-sm="column" layout-wrap)
                  md-input-container(flex="50" md-no-float="true")
                    label Done
                    input(ng-model="day.done" type="number")
              td
                div(layout-align="center center" ng-if="currentDayIndex == $index")
                  md-button.md-raised.md-primary(ng-click="fetchTrelloDonePoints()")
                    md-icon(md-svg-icon='trello')
                    | Fetch done
      section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
        md-button.md-raised.md-primary(ng-click="save()") Save
