md-card
  h2.md-title(layout-align="center end") PROBLEM TRACKING
  md-subheader(style="color: red; text-align: center;") Problems must be visible. Continue using the problem sheet on your board!
  
  div(layout="row" layout-sm="column" layout-align="space-around" ng-if="loading")
    md-progress-circular(md-mode="indeterminate")
      
  div.md-padding(ng-if="problems.length === 0" layout="column" layout-align="center")
    p.description Here is the place to track the problems of your project.
    section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
      md-button(ng-click="addProblem($event)") Create the first problem
  
  problems-list(project-id="{{ projectId }}")
      
  md-button.md-fab.md-accent.board-call-to-actions(ng-click="addProblem($event)")
    md-icon(md-svg-icon='plus') Add
    md-tooltip(md-direction='left') Add a problem
