<md-dialog>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block"><label>Status</label><textarea ng-model="feedback.status"></textarea></md-input-container>
        </div>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
            <md-button class="md-raised md-accent" ng-click="save()">Save</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>