h2 Feedbacks
md-switch(ng-model="hideDone") Hide Done
md-input-container.md-block
  label Search
  textarea(ng-model="searchString")
md-list(flex)
  md-list-item.md-3-line.md-long-text(
    ng-repeat="feedback in feedbacks | filter : searchString"
    ng-hide="hideDone && feedback.status === 'done'"
  )
    .md-list-item-text
      h3 {{ feedback.reporter }}
      h4 {{ feedback.status }} - {{ feedback.createdAt | date : 'medium' }}
      p{{ feedback.message }}
    md-button.md-secondary.md-icon-button(
      ng-click="openDialog(feedback, $event)"
      aria-label="edit"
    )
      md-icon(md-svg-icon='comment-text-outline')
    md-divider
