div(layout="row" layout-align="center center" flex="100")
  h3 SELECT THE TEAM
div.sprint-body
  select-people(
    members="boardMembers"
    selected-members="project.team"
  )
div(layout-wrap layout="row" flex="100" layout-sm="column" layout-xs="column")
  md-card(flex="30" flex-md="45" flex-sm="100" flex-xs="100" ng-repeat="member in project.team")
    member-form(member="member" delete="delete(member)")
div(layout="row" layout-align="center center" layout-wrap)
  section
    md-button.md-raised.md-primary(ng-click="save()" ng-disabled="saving") Save
