md-content(layout-padding)
  form(name="dailyReportCreate")
    h2.md-title Daily Mail
    div(layout layout-sm="column")
      md-input-container(flex)
        label To
        input(ng-model="dailyReport.to" type="email")
      md-input-container(flex)
        label Cc
        input(ng-model="dailyReport.cc" type="email")
    div(layout layout-sm="column")
      md-input-container(flex)
        label Subject
        input(ng-model="dailyReport.subject")
    div
      md-input-container.md-block
        label Body
        textarea(ng-model="dailyReport.body" columns="1" rows="5")
      
      md-button.md-raised.md-primary(ng-click="send()") Send
      md-button.md-raised.md-primary(ng-click="save()") Save template
